<div class="event-title-component-container">
	<img {{bind-attr src=eventTitleCountryUrl}}>
 	<span class="event-title-component-code">{{upper-case model.code}} - </span>
 	<span class="event-title-component-name">{{model.name}}</span>
</div>

