<div class="training-container">	
  <div class="training-item">
  	Feature:<span>{{upper-case model.key}} - </span> File: <span>{{model.file}}</span> - Code Line: <span> {{model.line}}</span>
  </div>
</div>
