<div class="events-container">
	<h3>{{upper-case "events"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to "events.view" this}}{{upper-case name}} - {{country}}{{/link-to}}
		</li>
		{{/each}}
	</ul>
	{{outlet "mainoutlet"}}
</div>

