body{
	background-color: #FAFAFC;
	height: 100%;
	width: 100%;
}

ul{
	list-style: georgian;
	list-style-type: lao;
}

ul li{
	clear: both;
}

ul li div{
	float: left;
	margin: 0 6px;
}

ul li div:nth-child(1){
	width: 300px;
}

ul li div:nth-child(2){
	width: 100px;
}

ul li div:nth-child(3){
	width: 200px;
}

ul li div:nth-child(4),
ul li div:nth-child(5)
{
	width: 100px;
}

.show-name{
	font-size: 18px;
	color:red;
	cursor: pointer;
}

.show-status{
	font-size: 11px;
}

.landing{
	background: url('/assets/images/next.jpg');
	cursor: pointer;
	height: 600px;
	margin: 0 auto;
	width: 675px;
}

.show-container ul:nth-child(1){
	font-weight: bold;
	font-size: 20px;
	list-style: none;
	padding-bottom: 20px;
}