<div class="game-container">
	<h3>{{upper-case "Games"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'games.game' this}}			
			{{title}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>
</div>
<div class="game-detail-container">
	{{outlet}}
</div>	

