{{partial "layouts/main"}}
<div class="game-detail-container">
	<div>{{upper-case model.title}}</div>
	<div>
		{{#if model.isAvailable}}
			<div>You have this game available in your country! enjoy!</div>
		{{else}}
			<div>Sorry, But this game is not available in your country. :(</div>	
		{{/if}}
	</div>
</div>	
{{#link-to "games" class="btn btn-primary"}}Back{{/link-to}}




