h2, h3,h4,h5{
	color:#000;
}

a{
	color:#fff;
	margin-left: 2px;
}

textarea{
	resize:none;
}

.main-container{
 	background: url("/assets/images/background.jpg") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	width: auto;
	height: 977px;
	padding-top: 46px;
}

.section-container{
  background-color: #818181;
    color: #fff;
    height: auto;
    margin: 0 auto;
    min-height: 800px;
    opacity: 0.9;
    padding-bottom: 10px;
    width: 800px;
}

.logo{
	background: url('/assets/images/logo.jpg');
	float: left;
	height: 107px;
	width: 280px;
}

.menu-container{
	padding-top: 20px;
}

.menu-container a:nth-child(2){
	margin-left: 12px;
}

/* Movie */
.movie-container{
	clear: both;
	font-size: 18px;
	background-color: #4791DA;
	padding-bottom: 12px;
	margin-bottom: 12px;
	min-height: 600px;
	position: relative;
}

.movie-container ul{
	list-style-image: url('/assets/images/movie-list-stype.jpg');
}

.movie-container ul li{
	margin-left: 12px;
}

.movie-container img{
	margin: 12px 0 0 14px;
}

.movie-brief{
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-style: italic;
	margin: 10px 20px;
}

.movie-review-container{
	color: #000;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
}

.movie-review-container div{
	float:left;

}

.movie-review-container select{
	color:#000;
	font-size: 12px;
}

.movie-item-small{
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	color:#000;
	margin-left: 20px;
}

.movie-actors-container{
  background-color: #ffffce;
    color: #000;
    font-size: 14px;
    margin: 10px 20px;
}

.movie-actor{
	clear: both;
}

.actors-link{
	    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.movie-actor-fav{
  font-weight: bold;
  margin: 4px 0px;
}

.movie-code{
	font-size: 12px;
}

.movie-title{
	font-size: 24px;
	font-family: cursive;
	font-weight: bold;
	color:#000;
}

.movie-rating-excellent{
    background: url("/assets/images/gold-star.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    float: right;
    height: 40px;
    position: absolute;
    top: 0;
    width: 40px;
}

.movie-watches{
	color:#000;
	font-size: 14px;
}

.movie-watches span{
	font-size: 16px;	
}

.movie-summary{
	position: absolute;
	bottom: 16px;
}

.premiere{
	color:#E62E00;
	font-size: 12px;
}

.comingSoon{
  color: #FFFF66;
  font-size: 12px;
}

.released{
  color: #000;
  font-size: 12px;
}

/* Games */
.game-container{
	clear: both;
	font-size: 18px;
	background-color: green;
	min-height: 600px;
}

.game-container ul{
	list-style-image: url('/assets/images/game-list-style.png');
}

.game-detail-container{
  background-color: #94ff94;
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 22px;
    height: 400px;
    margin: 108px auto;
    padding: 20px;
    width: 80%;
}

/* Comics */
.comics-container{
	clear: both;
	background-color: #FF3300;
	color: #000 !important;
	padding-bottom: 14px;
}

.comics-table-container{
	background-color:#fff;
	margin:20px;
}

/* TV */
.tv-container{
	clear: both;
	background-color: #FFFF66;
	color: #fff !important;	
}

/* Events*/
.events-container{
	clear: both;
	background-color: #ff6677;
	color: #fff !important;		
	min-height: 600px;
	font-size: 18px;
	height: auto;
	padding-bottom: 20px;
}


.events-container ul{
	list-style: none;	
}

.event-view-container{
    background-color: #ffd4e2;
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    height: 296px;
     margin: 60px auto 0;
    padding: 20px;
    width: 96%;  
}

.event-detail-container{
    background-color: #ffd4e2;
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 14px;
    height: 436px;
     margin: 60px auto 0;
    padding: 20px;
    width: 96%;  
}


.event-detail-container label{
	text-align: right;
    width: 86px;    
}

.event-detail-top-label{
  vertical-align: top;
}


.event-detail-medium-input{
  width: 382px !important;
}

.event-detail-small-input{
  width: 144px !important;
}

.event-actions-container{
	float: right;
}

.event-actions-container a{
	float: right;
	cursor: pointer;
}

.event-view-action{
background: url('/assets/images/edit.png') no-repeat;
	width: 16px;
	height: 16px;
}

.event-remove-action{
background: url('/assets/images/delete.png') no-repeat;
	width: 16px;
	height: 16px;
}

.event-detail-container .form-group{
	margin-bottom: 8px;
}

.event-title-component-container{
	float:left;
	color:#000;
	clear: both;
	margin-left: 6px;
}

.event-title-component-code{
	font-size: 12px;
}

.event-title-component-name{
	font-size: 18px;
	font-weight: bold;
}

.event-add-link{
	color: #fff;
    float: right;
    font-size: 14px;
    margin: 6px;
}

/* Common */
.coming-soon-container{
	clear: both;	
	color:#000;
	padding: 40px;
	font-size: 32px;
	font-weight: bold;
}

.show{
	display: inline-block;;
}

.hide{
	display: none;
}

.form-group select{
	width: 144px !important;
}

.landing-container{
 background: url("/assets/images/landing.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    cursor: pointer;
    height: 229px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 80px;
    width: 608px;
}

.training-container{
	margin:0 auto;
	background-color: #A3CCCC;
	color: #000;
}

.training-item{
	clear: both;
}

.training-item span:nth-child(1){
	font-weight: bold;
	font-size: 18px;
}

.training-item span:nth-child(2){
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	color:#555;
}

.training-item span:nth-child(2){
	font-weight: bold;
	font-size: 11px;
}

.training-title{
	margin: 20px;
}

.training-content{
	height: 636px;
	overflow-y: scroll;
	margin-bottom: 12px;
}

.current-date{
	float: left;
    margin-left: 12px;
    font-weight: bold;
}

.app-version{
	background-color: #fff;
    color: #FF4D4D;
    font-size: 12px;
    margin: 0 auto;
    width: 800px;
}

.app-version a{
	color: #000;
	cursor: pointer;
}

.app-version a:nth-child(3){
	float: right;
}

.index-container{
	width: auto;
	height: 334px;
	padding-top: 46px;
}

* {
  box-sizing: border-box;
}

.modal {
    background-color: #717181;
    border: 1px solid #000;
    display: inherit;
    height: 200px;
    margin: 160px auto;
    padding: 1em;
    position: relative;
    text-align: left;
    width: 600px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.info-modal-message{
	clear: both;
	font-size: 16px;
}

.info-modal-button-container{
	bottom: 8px;
	position: absolute;
}

.languages-container{
    float: left;
    margin-left: 6px;
    margin-top: 2px;
}

.spain-language{	
	background: url("/assets/images/spain-flag.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
	float: left;
	width: 16px;
	height: 16px;	
	cursor: pointer;
}

.english-language{
	background: url("/assets/images/us-flag.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
 	float: left;
    height: 16px;
    margin-left: 4px;
    width: 16px;
    cursor: pointer;
}