h2{
	color:#000;
}

a{
	color:#fff;
}

.main-container{
	background: url('/assets/images/background.jpg');
	width: auto;
	height: 977px;
	padding-top: 46px;
}

.section-container{
	background-color: #818181;
	color: #fff;
	height: 800px;
	margin: 0 auto;
	opacity: 0.9;
	width: 800px;
}

.logo{
	background: url('/assets/images/logo.jpg');
	float: left;
	height: 107px;
	width: 280px;
}

.menu-container{
	padding-top: 20px;
}

.menu-container a:nth-child(2){
	margin-left: 12px;
}

/* Movie */
.movie-container{
	clear: both;
	font-size: 28px;
	background-color: #4791DA;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.movie-container ul li{
	margin-left: 12px;
}

.movie-brief{
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin: 40px 20px;
}

.movie-review-container{
	color: #000;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
}

.movie-review-container div{
	float:left;

}

.movie-review-container select{
	color:#000;
	font-size: 12px;
}

.movie-item-small{
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	color:#000;
}

.movie-actors-container{
  background-color: #ffffce;
    color: #000;
    font-size: 14px;
    margin: 40px 20px;
}

.movie-actor{
	clear: both;
}

.actors-link{
	    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.movie-actor-fav{
  font-weight: bold;
}

/* Games */
.game-container{
	clear: both;
	font-size: 18px;
	background-color: green;
}

.game-detail-container{
	background-color: #94FF94;
	border-radius: 25px;
	border: 1px solid #000;
	color:#000;
	height: 400px;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
	font-size: 22px;
}

/* Comics */
.comics-container{
	clear: both;
	background-color: #FF3300;
	color: #fff !important;
}

/* TV */
.tv-container{
	clear: both;
	background-color: #FFFF66;
	color: #fff !important;	
}

/* Events*/
.events-container{
	clear: both;
	background-color: #FF6699;
	color: #fff !important;	
}

/* Common */
.coming-soon-container{
	clear: both;	
	color:#000;
	padding: 40px;
	font-size: 32px;
	font-weight: bold;
}

.show{
	display: inline-block;;
}

.hide{
	display: none;
}