<div class="menu-container">			
		{{#link-to "index" class="logo"}}{{/link-to}}
		{{#link-to "movies" class="btn btn-primary btn-lg"}}Movies{{/link-to}}
		{{#link-to "comics" class="btn btn-primary btn-lg"}}Comics{{/link-to}}
		{{#link-to "games" class="btn btn-primary btn-lg"}}Games{{/link-to}}
		{{#link-to "tv" class="btn btn-primary btn-lg"}}TV{{/link-to}}
		{{#link-to "events" class="btn btn-primary btn-lg"}}Events{{/link-to}}			
	<div class="current-date">
		{{current-date}}	
	</div>
</div>



