<div class="movie-container">
	<h3>{{upper-case "Movies"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'movies.movie' this}}			
			{{title}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>	
</div>
