<div class="movie-container">
	<h3>{{upper-case "Movies"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'movies.view' this}}			
			{{title}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>
	<div>
		<a {{action "openModal" "modal" model}} class="actors-link">[SEE ALL ACTORS!]</a>		
	</div>	
</div>
