<div class="main-container">
	<div class="section-container">
		<div>
			<p>
				<h2>Enjoy!</h2>
				{{#link-to "movies" class="btn btn-primary btn-lg"}}Movies{{/link-to}}
				{{#link-to "comics" class="btn btn-primary btn-lg"}}Comics{{/link-to}}
			</p>
		</div>
		{{outlet}}
	</div>
</div>