<div class="events-container">
	<h3>{{upper-case "events"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			<a {{action "events.view" this}}>{{code}}</a>
		</li>
		{{/each}}
	</ul>
</div>
<div class="event-detail-container">
	{{outlet}}
</div>	