<div class="game-container">
	<h3>Games</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'game' this}}			
			{{title}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>
</div>
<div {{bind-attr class="isGameDetailVisible:game-detail-container"}}>
	{{outlet}}
</div>	

