{{#modal-dialog action="close"}}
	<div class="info-modal-message">
		{{t "core.coming.soon"}}	
	</div>
	<div class="info-modal-button-container">
	  	<button {{action "close"}} class="btn btn-primary">Ok</button>  	
	</div>
{{/modal-dialog}}