<div class="movie-container">
	<div><span>CODE:</span>{{model.code}} >> {{upper-case model.title}}</div>
	<div class="movie-brief">
		{{model.brief}}
	</div>
{{#link-to "movies" class="btn btn-primary"}}Back{{/link-to}}
</div>
