<div>
	<h3>{{upper-case "references"}} - Here you could find some references to the capacities learnt and implemented:</h3>
</div>
{{#each}}
{{training-data model=this}}
{{/each}}
<div>
{{#link-to "index" class="btn btn-primary"}}Ok{{/link-to}}	
</div>

